{% extends 'layout.html' %}





{% block content %}

{% load static %}
<p>
    <img src="{% static 'images/django-2.jpeg' %}" alt="">
</p>
    <h2>About our vision and mission</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, magni. 
        Facere vitae esse praesentium ipsum sit fuga minus, eveniet explicabo, 
        assumenda quidem repellendus earum natus, at nihil. Inventore, optio ut?
    </p>

{% endblock %}



{% block title %}
    About Us
{% endblock %}