<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <title>Services</title>
</head>
<body>
    <!-- <h1 style="color: red;">Hello Django from HTML Templates</h1> -->

    <h1 style="color: red;">The Services page</h1>
    <nav>
        <menu>
            <li><a href="/app/home/">Home</a></li>
            <li><a href="/app/about/">About</a></li>
            <li><a href="/app/contact/">Contact</a></li>
            <li><a href="/app/service/">Services</a></li>
            <li><a href="/">Global HomePage</a></li>
            <li><a href="/orders/all_orders/">Orders page</a></li>
            <li><a href="/email/show_email/">Email</a></li>
        </menu>
    </nav>
    <h2>This the Services page </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium corrupti facere tenetur minus aliquam ipsum beatae fugiat molestias, enim voluptate odio mollitia ullam voluptates delectus maxime ex modi repellendus nisi.</p>
</body>
</html>