{% extends 'base.html' %}



{% block content %}

    <h1>Add the following form</h1>

    <ul>
        {% for task in tasks %}
            <li style="list-style-type: none;">
                {{ forloop.counter }} |
                {{ task.id }}.
                <a href="{% url 'detail' task.pk %}">{{ task.title }}</a>
                 - {{ task.description }} 
                 - {{ task.completed }}
                 - {{ task.user.username }}
                 | <a href="{% url 'update_tsk' task.pk %}">Update</a>
                 | <a href="{% url 'delete_tsk' task.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>



    <br>
    <a href="/tasks/">All Tasks</a>

    <br>
    <a href="/tasks/?completed=1">Completed Tasks</a>

    <br>
    <a href="/tasks/?completed=0">Pending Tasks</a>

    <br>
    <a href="/tasks/add">Add new Task</a>

{% endblock %}